In [1]:
import pandas as pd

In [2]:
# train_feature_df = pd.read_csv('data/train_with_postproc_features.csv')
# val_feature_df = pd.read_csv('data/val_with_postproc_features.csv')
test_feature_df = pd.read_csv('data/test_with_postproc_features.csv')

In [3]:
test_feature_df.head()

,id,tweet,label,model1_fake,model1_real,model2_fake,model2_real,username_real,username_fake,domain_real,domain_fake
0,1,Our daily update is published. States reported...,real,0.025615,0.974385,0.000000,1.000000,0.0,0.0,0.838903,0.161097
1,2,Alfalfa is the only cure for COVID-19.,fake,0.944206,0.055794,0.859564,0.140436,0.0,0.0,0.000000,0.000000
2,3,President Trump Asked What He Would Do If He W...,fake,0.997134,0.002866,1.000000,0.000000,0.0,0.0,0.000000,1.000000
3,4,States reported 630 deaths. We are still seein...,real,0.113006,0.886994,0.000000,1.000000,0.0,0.0,0.838903,0.161097
4,5,This is the sixth time a global health emergen...,real,0.346905,0.653095,0.604537,0.395463,1.0,0.0,0.838903,0.161097

In [5]:
def soft_voting(row, class_no):
  # class0_val = (row['model1_Class0'] + row['model2_Class0'] + row['model3_Class0'] + row['model4_Class0'] + row['model5_Class0'] + row['model6_Class0'])/6
  # class1_val = (row['model1_Class1'] + row['model2_Class1'] + row['model3_Class1'] + row['model4_Class1'] + row['model5_Class1'] + row['model6_Class1'])/6
  class0_val = (row['model1_real'] + row['model2_real'])/2
  class1_val = (row['model1_fake'] + row['model2_fake'])/2
  if class_no==0:
    return class0_val
  else:
    return class1_val

# train_feature_df['class0_pred'] = train_feature_df.apply(lambda x: soft_voting(x, 0), 1)
# train_feature_df['class1_pred'] = train_feature_df.apply(lambda x: soft_voting(x, 1), 1)

# val_feature_df['class0_pred'] = val_feature_df.apply(lambda x: soft_voting(x, 0), 1)
# val_feature_df['class1_pred'] = val_feature_df.apply(lambda x: soft_voting(x, 1), 1)

test_feature_df['class0_pred'] = test_feature_df.apply(lambda x: soft_voting(x, 0), 1)
test_feature_df['class1_pred'] = test_feature_df.apply(lambda x: soft_voting(x, 1), 1)

In [6]:
test_feature_df.head()

,id,tweet,label,model1_fake,model1_real,model2_fake,model2_real,username_real,username_fake,domain_real,domain_fake,class0_pred,class1_pred
0,1,Our daily update is published. States reported...,real,0.025615,0.974385,0.000000,1.000000,0.0,0.0,0.838903,0.161097,0.987193,0.012807
1,2,Alfalfa is the only cure for COVID-19.,fake,0.944206,0.055794,0.859564,0.140436,0.0,0.0,0.000000,0.000000,0.098115,0.901885
2,3,President Trump Asked What He Would Do If He W...,fake,0.997134,0.002866,1.000000,0.000000,0.0,0.0,0.000000,1.000000,0.001433,0.998567
3,4,States reported 630 deaths. We are still seein...,real,0.113006,0.886994,0.000000,1.000000,0.0,0.0,0.838903,0.161097,0.943497,0.056503
4,5,This is the sixth time a global health emergen...,real,0.346905,0.653095,0.604537,0.395463,1.0,0.0,0.838903,0.161097,0.524279,0.475721

In [8]:
test_label_df = pd.read_csv('../../data/english_test_with_labels.csv')
test_label_df.head()

   id                                              tweet label
0   1  Our daily update is published. States reported...  real
1   2             Alfalfa is the only cure for COVID-19.  fake
2   3  President Trump Asked What He Would Do If He W...  fake
3   4  States reported 630 deaths. We are still seein...  real
4   5  This is the sixth time a global health emergen...  real

In [9]:
temp = test_feature_df.merge(test_label_df[["id", "label"]], on=["id", "label"], how='left')
temp.head()

,id,tweet,label,model1_fake,model1_real,model2_fake,model2_real,username_real,username_fake,domain_real,domain_fake,class0_pred,class1_pred
0,1,Our daily update is published. States reported...,real,0.025615,0.974385,0.000000,1.000000,0.0,0.0,0.838903,0.161097,0.987193,0.012807
1,2,Alfalfa is the only cure for COVID-19.,fake,0.944206,0.055794,0.859564,0.140436,0.0,0.0,0.000000,0.000000,0.098115,0.901885
2,3,President Trump Asked What He Would Do If He W...,fake,0.997134,0.002866,1.000000,0.000000,0.0,0.0,0.000000,1.000000,0.001433,0.998567
3,4,States reported 630 deaths. We are still seein...,real,0.113006,0.886994,0.000000,1.000000,0.0,0.0,0.838903,0.161097,0.943497,0.056503
4,5,This is the sixth time a global health emergen...,real,0.346905,0.653095,0.604537,0.395463,1.0,0.0,0.838903,0.161097,0.524279,0.475721

In [10]:
def map_label(row):
  return 0 if row["label"]=="real" else 1

# train_feature_df["label"] = train_feature_df.apply(lambda x: map_label(x), 1)
# val_feature_df["label"] = val_feature_df.apply(lambda x: map_label(x), 1)
temp["label"] = temp.apply(lambda x: map_label(x), 1)

In [11]:
# train_feature_df = train_feature_df[["class0_pred", "class1_pred", "username_real", "username_fake", "domain_real", "domain_fake", "label"]]
# train_feature_df.head()

   class0_pred  class1_pred  username_real  ...  domain_real  domain_fake  label
0     0.999545     0.000455       0.000000  ...     0.000000     0.000000      0
1     0.999419     0.000581       0.000000  ...     0.838903     0.161097      0
2     0.000421     0.999579       0.000000  ...     0.000000     1.000000      1
3     0.999698     0.000302       0.995146  ...     0.838903     0.161097      0
4     0.999704     0.000296       0.000000  ...     0.838903     0.161097      0

[5 rows x 7 columns]

In [12]:
# val_feature_df = val_feature_df[["class0_pred", "class1_pred", "username_real", "username_fake", "domain_real", "domain_fake", "label"]]
# val_feature_df.head()

   class0_pred  class1_pred  username_real  ...  domain_real  domain_fake  label
0     0.007835     0.992165            0.0  ...          0.0          0.0      1
1     0.251324     0.748676            0.0  ...          0.0          0.0      1
2     0.000370     0.999630            0.0  ...          0.0          0.0      1
3     0.000682     0.999318            0.0  ...          0.0          1.0      1
4     0.999659     0.000341            0.0  ...          1.0          0.0      0

[5 rows x 7 columns]

In [11]:
temp = temp[["class0_pred", "class1_pred", "username_real", "username_fake", "domain_real", "domain_fake", "label"]]
temp.head()

,class0_pred,class1_pred,username_real,username_fake,domain_real,domain_fake,label
0,0.987193,0.012807,0.0,0.0,0.838903,0.161097,0
1,0.098115,0.901885,0.0,0.0,0.000000,0.000000,1
2,0.001433,0.998567,0.0,0.0,0.000000,1.000000,1
3,0.943497,0.056503,0.0,0.0,0.838903,0.161097,0
4,0.524279,0.475721,1.0,0.0,0.838903,0.161097,0

In [12]:
# train_feature_df.to_csv('data/postproc_train.csv', index=False)
# val_feature_df.to_csv('data/postproc_val.csv', index=False)
temp.to_csv('data/postproc_test.csv', index=False)